.container {
    position: relative;
    width: 1130px;
    padding: 20px 30px;
    margin: 0 auto;
    letter-spacing: -.2px;
}
.menuDiv{
    position: absolute;
	top: 20%;
	left: 5%;
	color: white;
	display: inline-block;
 }
.menu{
	display: inline-block;
	margin-right: 30px;
	cursor:pointer;
}
#footer {
    background-color: #FDFFFF;
    border-top: 1px solid #2E75B6;
}
#footer .footer_inner {
    width: 1130px;
    padding: 0 30px 30px;
    margin: 0 auto;
}
.img-profile{
	width: 100px;
    height: 100px;
    margin: 20px 0 14px 0;
    border-radius: 140px;
    vertical-align:middle;	
}
.img-profile-inner-box{
	display: inline-block;
	vertical-align:middle;	
}
.text-profile{
	margin-left:40px;
	display: inline-block;	
    vertical-align: middle;
}
.content{
    min-height: 700px;
    margin: 0 auto;
    background-color: #fafbfc;           
}
