<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<filter>
	    <filter-name>encodingFilter</filter-name>
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	    <init-param>
	      <param-name>encoding</param-name>
	      <param-value>UTF-8</param-value>
	    </init-param>
	</filter>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
   	 	<url-pattern>*.do</url-pattern>
  	</filter-mapping>
   	
   	<filter-mapping>
    	<filter-name>encodingFilter</filter-name>
    	<url-pattern>*.png</url-pattern>
  	</filter-mapping>
	
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>classpath*:/com/config/context/context-*.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
  	<servlet>
    	<servlet-name>action</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    	<init-param>
      		<param-name>contextConfigLocation</param-name>
      		<param-value>/WEB-INF/config/spring/*.xml</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>action</servlet-name>
    	<url-pattern>*.do</url-pattern>
  	</servlet-mapping>
  	
  	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
  	
  	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
	<!-- 에러페이지 설정 -->
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>416</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>417</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>418</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>420</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>422</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>423</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>424</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>425</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>426</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>428</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>429</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>431</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>444</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>449</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>450</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>451</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>451</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>494</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>495</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>496</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>497</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>499</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>506</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>507</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>508</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>509</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>510</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>511</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>520</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>598</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>599</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>
	<!-- 에러페이지 설정 -->
    
</web-app>
